<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/registered.css">
</head>
<body>
    <h1>You have Registered Successfully.</h1>
    <br><br>
    <h2><%= data.name %></h2>
    <h2><%= data.address %></h2>
    <h2><%= data.contact %></h2>
</body>
</html>