<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>File Name <%= fileName %></h1>
    <h1>File Content :</h1><br>
    <%= fileContent %>
</body>
</html>