<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
    </nav>
    <h1>Registration Page for New User</h1>
</body>

</html>