<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Property</title>
</head>
<body>
    <h1>Create a New Property Deal</h1>
    <hr>
    <form action="/create-property" method="post">
        <input type="url" name="imageURL" placeholder="Image URL Link" id="">
        <input type="text" name="ownerName" placeholder="ownerName" id="">
        <input type="text" name="propertyTitle" placeholder="propertyTitle" id="">
        <input type="text" name="price" placeholder="price" id="">
        <input type="text" name="contact" placeholder="contact" id="">
        <input type="text" name="address" placeholder="address" id="">
        <input type="text" name="description" placeholder="description" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>