<nav id="nav" class="text-center bg-dark py-3" >
    <a class="mx-1 text-decoration-none text-white fs-3 py-3 px-3 " href="/">Home</a>
    <a class="mx-1 text-decoration-none text-white fs-3 py-3 px-3 " href="/library">Library</a>
    <a class="mx-1 text-decoration-none text-white fs-3 py-3 px-3 " href="/about">About</a>
</nav>