<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <form action="/update/<%=data._id%>" method="post">
        <input type="text" name="bookName" value="<%=data.bookName%>">
        <input type="text" name="desc" value="<%=data.desc%>">

        <button type="submit">Update</button>
        <a href="/" type="button">Cancel</a>
    </form>
</body>

</html>